/tests                          export-ignore
/.gitattributes                 export-ignore
/.gitignore                     export-ignore
/phpunit.xml.dist               export-ignore
/.waratah                       export-ignore
/README.md                      export-ignore
/CONTRIBUTING.md                export-ignore
/code-of-conduct.md             export-ignore
/.php-cs-fixer.dist.php         export-ignore
/.editorconfig                  export-ignore
